body {
  background: #181818;
  font-family: 'Roboto', sans-serif;
}
body a {
  color: #aaaaaa;
}
body a:hover {
  color: #c8c8c8;
}

.header {
  background: #282828;
  padding: 10px;
  color: #aaaaaa;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header .search {
  margin-left: 1%;
}

.header .search input {
  border-radius: 15px;
  border: none;
  background: white;
  color: #181818;
  padding-left: 30px;
  outline: none;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}

.header .user {
  width: 200px;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .user i {
  font-size: 20px;
}
.header .user i:hover {
  color: white;
  cursor: pointer;
}
.header .user__actions button {
  background: none;
  border: none;
}
.header .user__actions .dropdown-menu {
  background: #282828;
  margin-top: 25px;
  border-radius: 2px;
  padding: 0;
  border: none;
}
.header .user__actions .dropdown-menu:before {
  font-family: "Ionicons";
  content: "\f365";
  position: absolute;
  top: -30px;
  right: 7px;
  color: #282828;
  font-size: 36px;
}
.header .user__actions .dropdown-menu a {
  color: #aaaaaa;
  transition: all 0.2s ease;
}
.header .user__actions .dropdown-menu a:hover {
  background: none;
  transition: all 0.2s ease;
}
.header .user__actions .dropdown-menu li {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease;
}
.header .user__actions .dropdown-menu li:hover {
  background: #aaaaaa;
  transition: all 0.2s ease;
}
.header .user__actions .dropdown-menu li:hover a {
  color: #c8c8c8;
  transition: all 0.2s ease;
}

.content {
  display: flex;
  flex-flow: row wrap;
}
.content__left {
  width: 15%;
}
.content__middle {
  width: 85%;
}

@media (max-width: 1400px) {
  .content__left {
    display: none;
  }
  .content__middle {
    width: 100%;
  }
  .content__right {
    display: none;
  }
}
@media (max-width: 768px) {
  .content__left {
    display: none;
  }
  .content__middle {
    width: 100%;
  }
}

.navigation {
  padding: 15px;
  background: #282828;
  color: #aaaaaa;
  overflow-y: scroll;
}
.navigation__list {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}
.navigation__list__header:after {
  font-family: "Ionicons";
  content: "\f123";
}
.navigation__list .active:after {
  font-family: "Ionicons";
  content: "\f126";
}
.navigation__list__item {
  color: #aaaaaa;
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navigation__list__item:hover {
  color: white;
  text-decoration: none;
  border-right: 3px solid #1ed760;
}
.navigation__list__item i {
  width: 25px;
  display: block;
}

@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .navigation__list {
    margin-bottom: 0;
    width: calc( 100% / 3 );
    text-align: center;
  }
  .navigation__list__item {
    width: 100%;
    text-align: center;
  }
  .navigation__list__item i {
    display: none;
  }
  .navigation__list__item span {
    margin: 0 auto;
  }
  .navigation__list__item:hover {
    border: none;
  }
}
.playlist {
  padding: 15px;
  background: #282828;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.playlist:hover {
  background: #424242;
}
.playlist:hover a {
  color: white;
}
.playlist a {
  color: #aaaaaa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.playlist a:hover {
  text-decoration: none;
}
.playlist a i {
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .playlist {
    display: none;
  }
}
.playing {
  background: #282828;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.playing__art img {
  width: 50px;
  height: 50px;
}
.playing__song {
  color: #aaaaaa;
  padding-left: 15px;
  display: flex;
  flex-flow: column wrap;
}
.playing__song a {
  color: #aaaaaa;
}
.playing__song a:hover {
  color: white;
  cursor: pointer;
}
.playing__add {
  margin-left: auto;
  padding-right: 15px;
  color: #aaaaaa;
}


@media (max-width: 768px) {
  .playing {
    border-top: 1px solid #181818;
  }
}
.current-track {
  background: #282828;
  padding: 5px 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.current-track__song {
  width: 20%;
  padding: 5px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.current-track__actions {
  width: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.current-track__actions a {
  font-size: 24px;
  color: #c8c8c8;
}
.current-track__actions a:hover {
  color: white;
  cursor: pointer;
}
.current-track__actions .play {
  font-size: 36px;
}
.current-track__progress {
  width: 50%;
  padding: 0 30px;
  color: #aaaaaa;
  font-size: 11px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.current-track__progress__bar {
  width: 100%;
  padding: 0 15px;
}
.current-track__progress__bar .noUi-target {
  border: none;
  height: 10px;
}
.current-track__progress__bar .noUi-base {
  background: #1ed760;
}
.current-track__progress__bar .noUi-origin {
  background: #5e5e5e;
}
.current-track__progress__bar .noUi-connect {
  background: #5e5e5e;
}
.current-track__progress__bar .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}
.current-track__progress__bar .noUi-handle:before, .current-track__progress__bar .noUi-handle:after {
  background: none;
}
.current-track__progress:hover .noUi-handle {
  display: block;
}
.current-track__options {
  width: 20%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.current-track__options .lyrics {
  font-size: 11px;
  text-transform: uppercase;
  width: 15%;
  padding: 0 15px 0 0;
}
.current-track__options .controls {
  width: 45%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.current-track__options .controls .volume {
  width: 55%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.current-track__options .controls .volume i {
  width: 40px;
  color: #aaaaaa;
}
.current-track__options .controls .volume #song-volume {
  width: calc( 80% - 40px );
  border: none;
  height: 10px;
}
.current-track__options .controls .volume #song-volume .noUi-base {
  background: #c8c8c8;
}
.current-track__options .controls .volume #song-volume .noUi-origin {
  background: #5e5e5e;
}
.current-track__options .controls .volume #song-volume .noUi-connect {
  background: #5e5e5e;
}
.current-track__options .controls .volume #song-volume .noUi-handle {
  background: #c8c8c8;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}
.current-track__options .controls .volume #song-volume .noUi-handle:before, .current-track__options .controls .volume #song-volume .noUi-handle:after {
  background: none;
}
.current-track__options .controls .volume #song-volume:hover .noUi-handle {
  display: block;
}
@media (max-width: 1400px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 50%;
  }
  .current-track__options {
    width: 40%;
  }
}
@media (max-width: 980px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 40%;
  }
  .current-track__options {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .current-track__actions {
    width: 100%;
    justify-content: space-around;
    padding: 5px 0;
  }
  .current-track__progress {
    width: 100%;
    padding: 5px 0;
  }
  .current-track__options {
    width: 100%;
    padding: 5px 0;
  }
}
@media (max-width: 480px) {
  .current-track__actions {
    width: 100%;
    justify-content: space-around;
    padding: 5px 0;
  }
  .current-track__progress {
    width: 100%;
    padding: 5px 0;
  }
  .current-track__options {
    width: 100%;
    padding: 5px 0;
  }
}

@media (max-width: 768px) {
  .current-track__action {
    padding-top: 15px;
  }
}
.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}
.tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks__heading__number {
  margin-left: 10px;
  font-style: italic;
}
.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tracks__heading__artist {
  margin-left: auto;
  font-size: 15px;
}
.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}
.tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.tracks .track:hover {
  background: #282828;
}
.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}
.tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}
.tracks .track__play {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}
.tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8;
}
.tracks .track__added .added {
  color: #c8c8c8;
}
.tracks .track__added .not-added {
  color: #aaaaaa;
}
.tracks .track__title {
  width: 45%;
  margin-left: 30px;
  color: white;
}
.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}
.tracks .track__title.featured .feature {
  color: #aaaaaa;
}
.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}
.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}
.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}
.tracks .track__plays {
  color: #aaaaaa;
  margin-left: auto;
  padding-right: 10px;
}

.tracks .track__artist {
  margin-left: auto;
  color: #aaaaaa;
}
.tracks .track__length {
  margin-left: auto;
  color: #aaaaaa;
}

.tracks .track__delete {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}
@media (max-width: 1200px) {
  .tracks__heading__title {
    width: auto;
  }
  .tracks .track__title {
    width: auto !important;
  }
  .tracks .track__explicit {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

@media (max-width: 650px) {
  .header .window__actions {
    width: 15%;
  }
  .header .page-flows {
    width: 20%;
    margin: 0;
  }
  .header .search {
    width: 65%;
    margin: 0;
  }
  .header .search input {
    width: 100%;
    background-size: 7%;
  }
  .header .user {
    width: 100%;
    margin-top: 15px;
    justify-content: space-around;
  }
}
.h1 {
  font-size: 36px;
}

.h2, .navigation__list__header {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.red {
  color: #fc615c;
}
.red:hover {
  color: #fb302a;
}

.yellow {
  color: #fdbe41;
}
.yellow:hover {
  color: #fcad0f;
}

.green {
  color: #34c94a;
}
.green:hover {
  color: #2aa03b;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
  margin-left: 5px;
  background: #3a3d4a;
  color: white;
}
button:hover {
  cursor: pointer;
}

.button-dark {
  background: #1ed760;
  color: white;
  border: 1px solid #1ed760;
}
.button-dark:hover {
  background: #43e57d;
}

.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
.button-light:hover {
  border-color: white;
  color: white;
}

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 13.2px;
  margin-bottom: 10px;
}
