body {
  background: #181818;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body a {
  color: #aaaaaa;
}

body a:hover {
  color: #c8c8c8;
}

html {
  height: 100%;
}

.header {
  background: #282828;
  padding: 10px;
  color: #aaaaaa;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header .search {
  margin-left: 1%;
}

.header .search input {
  border-radius: 15px;
  border: none;
  background: white;
  color: #181818;
  padding-left: 30px;
  outline: none;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}

.header .Button {
  margin-left: 1%;
}

.header .Button {
  color: #aaaaaa;
  margin: 0 10px;
}

.header .user {
  width: 150px;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .user i {
  font-size: 20px;
}

.header .user i:hover {
  color: white;
  cursor: pointer;
}

.header .user__actions button {
  background: none;
  border: none;
}

.header .user__actions .dropdown-menu {
  background: #282828;
  margin-top: 25px;
  border-radius: 2px;
  padding: 0;
  border: none;
}

.header .user__actions .dropdown-menu:before {
  font-family: "Ionicons";
  content: "\f365";
  position: absolute;
  top: -30px;
  right: 7px;
  color: #282828;
  font-size: 36px;
}

.header .user__actions .dropdown-menu a {
  color: #aaaaaa;
  transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu a:hover {
  background: none;
  transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li:hover {
  background: #aaaaaa;
  transition: all 0.2s ease;
}

.header .user__actions .dropdown-menu li:hover a {
  color: #c8c8c8;
  transition: all 0.2s ease;
}
.content {
  display: flex;
  flex-flow: row nowrap;
  height: 80%;
}
.content__left {
  width: 15%;
}
.dropZone {
  height: 100%;
  width: 85%;
}


*@media (max-width: 1400px) {
  .content__left {
    width: 15%;
  }
  .dropZone {
    width: 85%;
  }

}
@media (max-width: 768px) {
  .content{
    flex-direction: column;
  }
  .content__left{
    width: 100%;
  }
  .dropZone{
    width: 100%;
  }
}

.navigation {
  padding: 15px;
  background: #282828;
  color: #aaaaaa;
  overflow-y: hidden;
}

.navigation__list {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.navigation__list__header:after {
  font-family: "Ionicons";
  content: "\f123";
}

.navigation__list .active:after {
  font-family: "Ionicons";
  content: "\f126";
}

.navigation__list__item {
  color: #aaaaaa;
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navigation__list__item:hover {
  color: white;
  text-decoration: none;
  border-right: 3px solid #1ed760;
}

.navigation__list__item i {
  width: 25px;
  display: block;
}

*@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .navigation__list {
    margin-bottom: 0;
    width: calc( 100% / 3 );
    text-align: center;
  }
  .navigation__list__item {
    width: 100%;
    text-align: center;
  }
  .navigation__list__item i {
    display: none;
  }
  .navigation__list__item span {
    margin: 0 auto;
  }
  .navigation__list__item:hover {
    border: none;
  }
}
.playlist {
  padding: 15px;
  background: #282828;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}

.playlist:hover {
  background: #424242;
}

.playlist:hover a {
  color: white;
}

.playlist a {
  color: #aaaaaa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.playlist a:hover {
  text-decoration: none;
}

.playlist a i {
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

/*@media (max-width: 768px) {
  .playlist {
    display: none;
  }
}*/
.playing {
  background: #282828;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


/*@media (max-width: 768px) {
  .playing {
    border-top: 1px solid #181818;
  }
}*/
.current-track {
  background: #26273a;
  padding: 5px 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.current-track__song {
  min-width: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.current-track__song .current-track__title {
  width: 60%;
  margin: 0 5px;
  text-align: center;
}

.current-track__song .current-track__author {
  width: 40%;
  margin: 0 5px;
  text-align: center;
}

.current-track__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.current-track__actions a {
  font-size: 24px;
  color: #c8c8c8;
  margin: 0 10px;
}

.current-track__actions a:hover {
  color: white;
  cursor: pointer;
}

.current-track__actions .play {
  font-size: 36px;
}

.current-track__progress {
  width: 100%;
  padding: 0 30px;
  color: #aaaaaa;
  font-size: 11px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.current-track__progress__bar {
  width: 100%;
  padding: 0 15px;
}

.current-track__progress__bar .noUi-target {
  border: none;
  height: 10px;
}

.current-track__progress__bar .noUi-base {
  background: #6bac86;
}

.current-track__progress__bar .noUi-origin {
  background: #5e5e5e;
}

.current-track__progress__bar .noUi-connect {
  background: #5e5e5e;
}

.current-track__progress__bar .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  opacity: 1.0;
  display: none;
  top: -2.5px;
  margin-inline-end: 10px;
}

.current-track__progress__bar .noUi-handle:before, .current-track__progress__bar .noUi-handle:after {
  background: none;
}

.current-track__progress:hover .noUi-handle {
  display: block;
}

.current-track__options {
  min-width: 180px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.current-track__options .controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.current-track__options .controls .control {
  margin: 0 5px;
}

.current-track__options .controls .volume {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.current-track__options .controls .volume i {
  width: 20px;
  text-align: center;
  color: #aaaaaa;
}

.current-track__options .controls .volume #song-volume {
  width: calc(100% - 20px);
  border: none;
  height: 10px;
  margin: 0 5px;
}

.current-track__options .controls .volume #song-volume .noUi-base {
  background: #c8c8c8;
}

.current-track__options .controls .volume #song-volume .noUi-origin {
  background: #5e5e5e;
}

.current-track__options .controls .volume #song-volume .noUi-connect {
  background: #5e5e5e;
}

.current-track__options .controls .volume #song-volume .noUi-handle {
  background: #c8c8c8;
  width: 0px;
  height: 0px;
  border-radius: 0%;
  box-shadow: none;
  border: none;
  display: none;
  top: 0px;
  margin-inline-end: 10px;
}

.current-track__options .controls .volume #song-volume .noUi-handle:before, .current-track__options .controls .volume #song-volume .noUi-handle:after {
  background: none;
}

.current-track__options .controls .volume #song-volume:hover .noUi-handle {
  display: block;
}

/*@media (max-width: 1400px) {
  .current-track__actions {
    width: 1%;
  }
  .current-track__progress {
    width: 1%;
  }
  .current-track__options {
    width: 1%;
  }
}
@media (max-width: 980px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 50%;
  }
  .current-track__options {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .current-track__actions {
    width: 10%;
  }
  .current-track__progress {
    width: 50%;
  }
  .current-track__options {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .current-track__actions {
    width: 100%;
    justify-content: space-around;
    padding: 5px 0;
  }
  .current-track__progress {
    width: 100%;
    padding: 5px 0;
  }
  .current-track__options {
    width: 100%;
    padding: 5px 0;
  }
}

@media (max-width: 768px) {
  .current-track__action {
    padding-top: 15px;
  }
}*/
.tracks {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

.tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  /*flex-flow: row wrap;*/
  align-items: center;
}
.tracks__heading :hover{
  color: darkred;
  text-decoration: underline;
}
.tracks__heading__number {
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
  font-style: italic;
}

.tracks__heading__gap {
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
}

.tracks__heading__title {
  width: 60%;
  margin: 0 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.tracks__heading__artist {
  width: 40%;
  margin: 0 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.tracks__heading__length {
  min-width: 80px;
  margin: 0 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

.tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tracks .track:hover {
  background: #282828;
}

.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}

.tracks .track__number {
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
  color: #aaaaaa;
}

.tracks .track__play {
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
  color: #aaaaaa;
}

.tracks .track__delete {
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
  color: #aaaaaa;
}

.tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8;
}

.tracks .track__added .added {
  color: #c8c8c8;
}

.tracks .track__added .not-added {
  color: #aaaaaa;
}

.tracks .track__title {
  width: 60%;
  margin: 0 5px;
  text-align: center;
  color: white;
}

.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}

.tracks .track__title.featured .feature {
  color: #aaaaaa;
}

.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}

.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}

.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}

.tracks .track__artist {
  width: 40%;
  margin: 0 5px;
  text-align: center;
  color: #aaaaaa;
}

.tracks .track__length {
  min-width: 80px;
  margin: 0 5px;
  text-align: center;
  color: #aaaaaa;
}

/*@media (max-width: 1200px) {
  .tracks__heading__title {
    width: auto;
  }
  .tracks .track__title {
    width: auto !important;
  }
  .tracks .track__explicit {
    display: none;
  }
}*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

/*@media (max-width: 650px) {
  .header .window__actions {
    width: 15%;
  }
  .header .search {
    width: 65%;
    margin: 0;
  }
  .header .search input {
    width: 100%;
    background-size: 7%;
  }
  .header .user {
    width: 100%;
    margin-top: 15px;
    justify-content: space-around;
  }
}*/
.h1 {
  font-size: 36px;
}

.h2, .navigation__list__header {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.red {
  color: #fc615c;
}

.red:hover {
  color: #fb302a;
}

.yellow {
  color: #fdbe41;
}

.yellow:hover {
  color: #fcad0f;
}

.green {
  color: #34c94a;
}

.green:hover {
  color: #2aa03b;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
  margin-left: 5px;
  background: #3a3d4a;
  color: white;
}

button:hover {
  cursor: pointer;
}

.button-dark {
  background: #1ed760;
  color: white;
  border: 1px solid #1ed760;
}

.button-dark:hover {
  background: #43e57d;
}

.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}

.button-light:hover {
  border-color: white;
  color: white;
}

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 13.2px;
  margin-bottom: 10px;
}

#username {
  display: none;

}

#loading_bar {
  /* background-color: rgba(24, 24, 24, 0.05); */
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  position: absolute;
}
